<!DOCTYPE html>
<html>
	<head>
		<title>Rico Logistics</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- 	links css	 -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<!-- link to j query -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
	</head>
	<body>
	<nav class = "navbar navbar-default">
		<div class = "container-fluid">
			<div class= "navbar-header">
				<a class = "navbar-brand" href="/"><img id="logo" src="https://media.glassdoor.com/sqll/765324/rico-logistics-squarelogo-1396035338273.png"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class = "nav navbar-nav navbar-right">

					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	