<!DOCTYPE html>
<html>
	<head>
		<title>Rico Logistics</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- 	links css	 -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
		<!-- link to j query -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
	</head>
	<body>
		
	<div id="landing-header">
		<h1>Rico Logistics Consumable Management</h1><br>
		<a href="/login" class ="btn btn-lg btn-success">Login</a>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h5>Powered by @CASL</h5>
	</div>

	
	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>


<%- include ("partials/footer") %>
